.header{
    height: 95vh;
background-image: linear-gradient(to right bottom,rgba(11, 128, 0, 0.534),rgba(128, 128, 0, 0.678)),url(img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh,0 100%);
    &__logo-area{
        top:2rem;
        left: 3rem;
        position: absolute;}

            &__logo-area{
                top:2rem;
                left: 3rem;
                position: absolute;}
                &__logo{
                    height: 3rem;
                }



&__texting{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);


}


}