*,
*::after,
*::before {
  padding: 0%;
  margin: 0%;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box; }

@keyframes anime {
  0% {
    transform: translateX(-10rem); }
  100% {
    transform: translate(0); } }

@keyframes animeo {
  0% {
    transform: translateX(10rem); }
  100% {
    transform: translate(0); } }

@keyframes animeos {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translate(0); } }

body {
  font-size: 3rem;
  font-family: 'Lato', 'Times New Roman', Times, serif;
  line-height: 1.7;
  color: grey; }

.heading-primary {
  color: white;
  text-transform: uppercase; }

.heading--main {
  font-size: 4rem;
  letter-spacing: 2rem;
  font-weight: 500;
  text-align: center;
  display: block;
  margin: 2rem;
  animation-name: anime;
  /*animacija*/
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.heading--sub {
  display: block;
  font-size: 1.8rem;
  letter-spacing: 1.4rem;
  font-weight: 500;
  text-align: center;
  animation-name: animeo;
  animation-duration: 2s;
  animation-timing-function: ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  transition: all .2s;
  letter-spacing: 2px; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.301); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.7rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  margin-left: 25%;
  margin-top: 2rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.247); }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.247); }

.btn--white {
  background-color: white;
  color: grey; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white::after {
  background-color: white; }

.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.6);
  opacity: 0; }

.btn--animated {
  animation: animeos .4s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  font-size: 1.6rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.247);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.342);
  transform: translateY(0); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(11, 128, 0, 0.534), rgba(128, 128, 0, 0.678)), url(img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  .header__logo-area {
    top: 2rem;
    left: 3rem;
    position: absolute; }
  .header__logo-area {
    top: 2rem;
    left: 3rem;
    position: absolute; }
  .header__logo {
    height: 3rem; }
  .header__texting {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  background-color: whitesmoke;
  margin: 0 auto;
  grid-template-rows: [row1-start] 25% [row1-end row2-start] 25% [row2-end];
  display: flex; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }
  .col-1-of-2:not(:last-child) {
    margin-right: 6rem;
    float: left; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.397);
    position: absolute;
    border-radius: 2px;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #55c57a;
      transform: scale(1.05) translateY(-1rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.486);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transition: scale(0.95); }
