body{
    font-size: 3rem;
    font-family: 'Lato', 'Times New Roman', Times, serif;
    line-height: 1.7;
    color: grey;
    
    }





.heading-primary{
    color: white;
text-transform: uppercase;
}
.heading--main{
font-size: 4rem;
letter-spacing: 2rem ;
font-weight: 500;
text-align: center;
display: block;
margin: 2rem;
animation-name: anime;
/*animacija*/
animation-duration:2s;
animation-timing-function: ease-out;

}
.heading--sub{
display: block;
    font-size: 1.8rem;
    letter-spacing: 1.4rem;
font-weight: 500;
text-align: center;
animation-name:animeo;
animation-duration:2s;
animation-timing-function: ease-out;


}

.heading-secondary{

font-size: 3.5rem;
text-transform: uppercase;
font-weight: 700;
display: inline-block;
background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
color: transparent;
-webkit-background-clip: text;
transition: all .2s;
letter-spacing: 2px;

&:hover{
transform: skewY(2deg) skewX(15deg) scale(1.1);
text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, 0.301);


}

}

.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
text-transform: uppercase;

}


.paragraph{
    font-size: $default-font-size;

&:not(:last-child)
{
margin-bottom: 3rem;

}


}



